In [75]:
import numpy as np
import pandas as pd

In [76]:
data=pd.read_csv('zomato.csv',encoding='latin-1')

# Data Exploration and Cleaning

In [79]:
data.shape

(9551, 21)

In [80]:
data.head(2)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591

In [81]:
data.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [82]:
data.drop(columns=['Restaurant ID','Is delivering now'],inplace=True)

In [83]:
data.columns

Index(['Restaurant Name', 'Country Code', 'City', 'Address', 'Locality',
       'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Switch to order menu', 'Price range',
       'Aggregate rating', 'Rating color', 'Rating text', 'Votes'],
      dtype='object')

In [84]:
data['Country Code'].nunique()

15

In [85]:
data['Country Code'].value_counts()

1      8652
216     434
215      80
214      60
30       60
189      60
148      40
208      34
14       24
162      22
94       21
191      20
166      20
184      20
37        4
Name: Country Code, dtype: int64

In [86]:
mask=data['Country Code']==1

data=data[mask]

In [87]:
data.shape

(8652, 19)

In [88]:
data.drop(columns=['Country Code','Currency'],inplace=True)

In [89]:
data.columns

Index(['Restaurant Name', 'City', 'Address', 'Locality', 'Locality Verbose',
       'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Has Online delivery', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [90]:
data['City'].value_counts()

New Delhi       5473
Gurgaon         1118
Noida           1080
Faridabad        251
Ghaziabad         25
Bhubaneshwar      21
Lucknow           21
Amritsar          21
Ahmedabad         21
Guwahati          21
Patna             20
Pune              20
Coimbatore        20
Nagpur            20
Aurangabad        20
Chennai           20
Kochi             20
Jaipur            20
Kanpur            20
Puducherry        20
Kolkata           20
Vadodara          20
Goa               20
Dehradun          20
Agra              20
Ranchi            20
Ludhiana          20
Bangalore         20
Vizag             20
Mumbai            20
Varanasi          20
Allahabad         20
Surat             20
Indore            20
Mysore            20
Mangalore         20
Nashik            20
Bhopal            20
Hyderabad         18
Chandigarh        18
Secunderabad       2
Panchkula          1
Mohali             1
Name: City, dtype: int64

In [91]:
mask=data['City'].isin(['New Delhi','Gurgaon','Noida'])
data=data[mask]
data.shape

(7671, 17)

In [92]:
data.columns

Index(['Restaurant Name', 'City', 'Address', 'Locality', 'Locality Verbose',
       'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Has Online delivery', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [93]:
data['Restaurant Name'].value_counts()

Cafe Coffee Day                 81
Domino's Pizza                  75
Subway                          60
Green Chick Chop                47
McDonald's                      44
Keventers                       33
Giani                           28
Baskin Robbins                  26
Barista                         21
Pizza Hut                       20
Giani's                         20
Dunkin' Donuts                  20
Wah Ji Wah                      19
Costa Coffee                    19
Pizza Hut Delivery              19
Chaayos                         18
Twenty Four Seven               18
Starbucks                       17
Republic of Chicken             17
Sagar Ratna                     17
Pind Balluchi                   16
Haldiram's                      15
Aggarwal Sweets                 14
Bikanervala                     14
Burger King                     14
KFC                             13
Moti Mahal Delux                13
Behrouz Biryani                 13
Shree Rathnam                   13
Bikaner Sweets                  13
                                ..
The Test                         1
Laxmi Ice Cream Parlour          1
Pindi Meat                       1
Advance Bakery                   1
China Hot Pot                    1
Batra Chinese Food & Chaap       1
Smokey Flavours                  1
Rock n Wood Cafe                 1
Annapurna Bhojnalaya             1
Slurp Pasta Express              1
Sethi's Express                  1
Dee The Baker                    1
Cake'ry                          1
Veer Jee                         1
Lobby Lounge - Crowne Plaza      1
The Gourmet Shop - The Uppal     1
Kumar Sweet House                1
Last Bencher's                   1
NIK's Chicken Corner             1
Bunker                           1
Jain Coffee House                1
Curry N' Tandoor                 1
Shri Gujrat Namkeen Bhandar      1
New Open Restaurant              1
Soni Bakers                      1
August Moon                      1
Foodies Park                     1
Refuel                           1
Aggarwal's Sweets                1
Cafe Dalal Street                1
Name: Restaurant Name, Length: 5834, dtype: int64

In [94]:
data['Restaurant Name'].nunique()

5834

In [95]:
data.columns

Index(['Restaurant Name', 'City', 'Address', 'Locality', 'Locality Verbose',
       'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Has Online delivery', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [96]:
data.drop(columns=['Restaurant Name','Address','Locality','Locality Verbose','Rating text','Rating color'],inplace=True)

In [97]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Has Online delivery', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Votes'],
      dtype='object')

In [98]:
data['Switch to order menu'].value_counts()

No    7671
Name: Switch to order menu, dtype: int64

In [99]:
data.drop(columns=['Switch to order menu'],inplace=True)

In [100]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Has Online delivery', 'Price range',
       'Aggregate rating', 'Votes'],
      dtype='object')

In [101]:
data['Cuisines'].nunique()

1143

In [102]:
data['Cuisines'].value_counts()>50

North Indian                                                  True
North Indian, Chinese                                         True
Fast Food                                                     True
Chinese                                                       True
North Indian, Mughlai                                         True
Cafe                                                          True
Bakery                                                        True
North Indian, Mughlai, Chinese                                True
Bakery, Desserts                                              True
Street Food                                                   True
Pizza, Fast Food                                              True
Chinese, Fast Food                                            True
Mithai, Street Food                                           True
South Indian                                                  True
Bakery, Fast Food                                             True
Mughlai                                                       True
Chinese, North Indian                                         True
Ice Cream, Desserts                                           True
Ice Cream                                                     True
Mithai                                                        True
North Indian, Chinese, Mughlai                                True
North Indian, Fast Food                                       True
North Indian, Chinese, Fast Food                              True
Bakery, Desserts, Fast Food                                   True
American, Fast Food, Salad, Healthy Food                      True
Mughlai, North Indian                                         True
Biryani                                                       True
Beverages                                                     True
Fast Food, Burger                                             True
North Indian, Chinese, Continental                           False
                                                             ...
Chinese, Japanese, Thai, Asian                               False
Mediterranean, Continental, North Indian, Italian            False
Street Food, South Indian, Chinese                           False
Finger Food, American, Continental, North Indian, Italian    False
American, European, North Indian                             False
Cafe, Fast Food, North Indian                                False
North Indian, Fast Food, Afghani                             False
Mexican, American, Healthy Food                              False
Asian, Japanese, Korean, Thai, Chinese                       False
American, Seafood, Italian, Japanese, Thai                   False
Fast Food, Mughlai                                           False
Asian, Continental, Fast Food                                False
Mithai, Street Food, Fast Food                               False
Cafe, Healthy Food, Continental, Italian, Asian              False
Mediterranean, European                                      False
Continental, Fast Food, North Indian, Asian                  False
Fast Food, North Indian, Chinese, Desserts, Ice Cream        False
Fast Food, Mughlai, Armenian                                 False
Raw Meats, Street Food                                       False
American, North Indian, European, Asian                      False
Chinese, Cafe                                                False
North Indian, Continental, Italian, Finger Food              False
Continental, Mexican, Mediterranean                          False
Chinese, North Indian, Continental, Italian                  False
Thai, Chinese, North Indian                                  False
Continental, Italian, North Indian, Lebanese                 False
Cafe, Continental, Italian, Mexican                          False
Healthy Food, Juices, Salad                                  False
North Indian, Continental, Chinese, Italian, Lebanese        False
Finger Food, North Indian, Continental, Italian              False
Name: Cuisines, Length: 1143, dtype: bool

In [103]:
data.columns

Index(['City', 'Longitude', 'Latitude', 'Cuisines', 'Average Cost for two',
       'Has Table booking', 'Has Online delivery', 'Price range',
       'Aggregate rating', 'Votes'],
      dtype='object')

In [104]:
data['Has Table booking'].value_counts()

No     6640
Yes    1031
Name: Has Table booking, dtype: int64

In [105]:
data['Has Table booking'].replace('Yes',1,inplace=True)
data['Has Table booking'].replace('No',0,inplace=True)

In [106]:
data['Has Table booking'].value_counts()

0    6640
1    1031
Name: Has Table booking, dtype: int64

In [107]:
data['Has Online delivery'].replace('Yes',1,inplace=True)
data['Has Online delivery'].replace('No',0,inplace=True)

In [108]:
data['Has Online delivery'].value_counts()

0    5393
1    2278
Name: Has Online delivery, dtype: int64

In [109]:
#data.corr()['Average Cost for two']
data.drop(columns=['Longitude','Latitude','Has Online delivery','Price range'],inplace=True)

In [110]:
data.columns

Index(['City', 'Cuisines', 'Average Cost for two', 'Has Table booking',
       'Aggregate rating', 'Votes'],
      dtype='object')

In [111]:
data.corr()['Average Cost for two']

Average Cost for two    1.000000
Has Table booking       0.643845
Aggregate rating        0.329785
Votes                   0.297741
Name: Average Cost for two, dtype: float64

In [112]:
data

,City,Cuisines,Average Cost for two,Has Table booking,Aggregate rating,Votes
1161,Gurgaon,"Cafe, Beverages",350,0,3.4,16
1162,Gurgaon,"North Indian, Mughlai",800,1,2.7,80
1163,Gurgaon,"North Indian, Mughlai",2000,1,4.3,1887
1164,Gurgaon,"South Indian, Seafood, Kerala",1400,1,4.0,802
1165,Gurgaon,Bakery,250,0,3.0,4
1166,Gurgaon,Ice Cream,200,0,3.0,5
1167,Gurgaon,Chinese,200,0,3.0,10
1168,Gurgaon,Fast Food,100,0,0.0,2
1169,Gurgaon,"Japanese, Thai, Chinese",1200,0,3.0,57
1170,Gurgaon,"Pizza, Desserts",500,0,3.1,4
1171,Gurgaon,"Raw Meats, Fast Food",350,0,2.9,4
1172,Gurgaon,"South Indian, Chinese, Mughlai",450,0,0.0,0
1173,Gurgaon,"Fast Food, North Indian",300,0,0.0,0
1174,Gurgaon,"North Indian, Chinese",300,0,0.0,2
1175,Gurgaon,"North Indian, South Indian, Chinese",500,0,0.0,1
1176,Gurgaon,Cafe,600,0,0.0,2
1177,Gurgaon,Raw Meats,500,0,0.0,1
1178,Gurgaon,"Mithai, North Indian",100,0,0.0,0
1179,Gurgaon,"North Indian, Chinese, Fast Food",500,0,0.0,1
1180,Gurgaon,North Indian,200,0,0.0,0
1181,Gurgaon,"North Indian, Chinese",350,0,0.0,0
1182,Gurgaon,"South Indian, Street Food",300,0,0.0,1
1183,Gurgaon,"North Indian, Chinese",250,0,0.0,0
1184,Gurgaon,"North Indian, Chinese",500,0,0.0,1
1185,Gurgaon,North Indian,200,0,0.0,0
1186,Gurgaon,"North Indian, Mughlai, Seafood",800,0,0.0,0
1187,Gurgaon,Fast Food,350,0,0.0,3
1188,Gurgaon,Japanese,1500,1,2.8,13
1189,Gurgaon,"North Indian, Chinese, Continental",2500,1,2.9,15
1190,Gurgaon,"Bakery, Fast Food",500,0,3.9,415
...,...,...,...,...,...,...
9083,Noida,Italian,1200,1,3.1,372
9084,Noida,Cafe,700,0,2.6,55
9085,Noida,Ice Cream,250,0,3.4,11
9086,Noida,Chinese,1300,0,2.6,334
9087,Noida,Ice Cream,300,0,3.5,41
9088,Noida,"Burger, Fast Food",500,0,3.5,211
9089,Noida,Cafe,600,0,3.5,110
9090,Noida,"Chinese, Thai",1100,1,3.6,507
9091,Noida,Fast Food,150,0,3.5,37
9092,Noida,Chinese,1500,1,3.7,517
9093,Noida,"Mughlai, North Indian",600,0,3.6,179
9094,Noida,"Italian, Pizza, Fast Food",1000,0,3.7,189
9095,Noida,"South Indian, North Indian, Chinese",800,0,3.5,139
9096,Noida,"American, Tex-Mex",2500,1,3.5,1147
9097,Noida,"North Indian, Rajasthani",1000,0,3.5,249
9098,Noida,Fast Food,200,0,0.0,0
9099,Noida,"Italian, Chinese",200,0,0.0,0
9100,Noida,Desserts,150,0,0.0,1
9101,Noida,"Desserts, Ice Cream",150,0,0.0,1
9102,Noida,Cafe,850,0,0.0,1
9103,Noida,"Continental, Lebanese, Mexican",1000,1,0.0,0
9104,Noida,"Chinese, North Indian, South Indian, Fast Food",450,0,2.0,161
9105,Noida,"North Indian, Continental, Chinese",2400,1,2.0,230
9106,Noida,"North Indian, Mughlai",1200,1,2.0,108
9107,Noida,"North Indian, Chinese",1200,1,4.0,395
9108,Noida,"North Indian, Chinese",700,0,2.6,34
9109,Noida,Fast Food,400,0,0.0,1
9110,Noida,Fast Food,600,0,0.0,3
9111,Noida,"North Indian, Chinese",500,0,0.0,0
9112,Noida,"Raw Meats, Fast Food",250,0,0.0,1

In [113]:
data.groupby('Cuisines')['Average Cost for two'].mean()

Cuisines
Afghani                                                      512.500000
Afghani, Mughlai, Chinese                                    500.000000
Afghani, North Indian                                        900.000000
Afghani, North Indian, Pakistani, Arabian                    500.000000
American                                                     666.666667
American, Asian, European, Seafood                          2000.000000
American, Asian, North Indian, Mexican, South Indian         500.000000
American, British, Continental                              1700.000000
American, Continental, Burger                               1000.000000
American, Continental, Italian                              2000.000000
American, Continental, Italian, Bakery                      2000.000000
American, Continental, Italian, North Indian, Asian         1500.000000
American, Continental, North Indian, Chinese                1200.000000
American, European                                          2100.000000
American, European, North Indian                            1800.000000
American, Fast Food                                          697.058824
American, Fast Food, Burger                                  500.000000
American, Fast Food, Desserts                                500.000000
American, Fast Food, Salad, Healthy Food                     500.000000
American, Finger Food                                       2650.000000
American, Italian                                           1000.000000
American, Italian, Bakery, Deli, Burger, Sandwich, Pizza    1000.000000
American, Italian, Cafe                                      500.000000
American, Italian, Chinese                                  1750.000000
American, Italian, Chinese, North Indian, Cafe               900.000000
American, Italian, Mughlai, North Indian                    1350.000000
American, Italian, North Indian, Chinese                     500.000000
American, Italian, North Indian, Chinese, Lebanese          2000.000000
American, Italian, North Indian, European, Thai             1550.000000
American, Mexican                                           1000.000000
                                                               ...
Street Food, South Indian                                    350.000000
Street Food, South Indian, Chinese                           500.000000
Street Food, South Indian, Mithai                            300.000000
Sushi                                                       1000.000000
Sushi, Asian                                                 800.000000
Sushi, Japanese, Healthy Food                               1000.000000
Tea                                                          250.000000
Tea, Beverages, Fast Food                                    300.000000
Tea, Cafe                                                   2000.000000
Tea, Fast Food                                               237.500000
Thai                                                        2070.000000
Thai, Asian                                                 4000.000000
Thai, Chinese                                                966.666667
Thai, Chinese, Asian, Malaysian                             1500.000000
Thai, Chinese, Japanese                                     2500.000000
Thai, Chinese, North Indian                                 1500.000000
Thai, Chinese, Seafood                                       800.000000
Thai, European, Mexican, North Indian, Chinese, Cafe        1500.000000
Thai, Japanese                                              1500.000000
Tibetan                                                      400.000000
Tibetan, Chinese                                             434.615385
Tibetan, Chinese, North Indian                               500.000000
Tibetan, Fast Food                                           350.000000
Tibetan, Nepalese                                           1075.000000
Tibetan, South Indian, North Indian                          400.000000
Tibetan, Street Food                                         100.000000
Turkish                                                      600.000000
Turkish, Arabian, Moroccan, Lebanese                         400.000000
Turkish, Mediterranean, Middle Eastern                      2000.000000
Vietnamese                                                  1000.000000
Name: Average Cost for two, Length: 1143, dtype: float64

In [114]:
cuisine=data.groupby('Cuisines')['Average Cost for two'].mean().reset_index()

In [40]:
data.merge(cuisine,on='Cuisines')

,City,Cuisines,Average Cost for two_x,Has Table booking,Aggregate rating,Votes,Average Cost for two_y
0,Gurgaon,"Cafe, Beverages",350,0,3.4,16,416.666667
1,New Delhi,"Cafe, Beverages",200,0,0.0,0,416.666667
2,New Delhi,"Cafe, Beverages",700,0,4.1,92,416.666667
3,Gurgaon,"North Indian, Mughlai",800,1,2.7,80,755.511551
4,Gurgaon,"North Indian, Mughlai",2000,1,4.3,1887,755.511551
5,Gurgaon,"North Indian, Mughlai",1500,1,4.0,1595,755.511551
6,Gurgaon,"North Indian, Mughlai",700,1,3.8,239,755.511551
7,Gurgaon,"North Indian, Mughlai",600,0,2.9,5,755.511551
8,Gurgaon,"North Indian, Mughlai",650,0,3.2,15,755.511551
9,Gurgaon,"North Indian, Mughlai",600,0,3.3,23,755.511551
10,Gurgaon,"North Indian, Mughlai",750,0,3.6,213,755.511551
11,Gurgaon,"North Indian, Mughlai",600,0,4.0,88,755.511551
12,Gurgaon,"North Indian, Mughlai",650,0,4.1,152,755.511551
13,Gurgaon,"North Indian, Mughlai",1600,0,4.1,229,755.511551
14,Gurgaon,"North Indian, Mughlai",800,0,2.6,26,755.511551
15,Gurgaon,"North Indian, Mughlai",2000,1,4.0,111,755.511551
16,Gurgaon,"North Indian, Mughlai",900,0,3.6,110,755.511551
17,Gurgaon,"North Indian, Mughlai",450,0,3.4,260,755.511551
18,Gurgaon,"North Indian, Mughlai",600,0,3.8,121,755.511551
19,Gurgaon,"North Indian, Mughlai",800,0,2.7,67,755.511551
20,Gurgaon,"North Indian, Mughlai",800,0,2.7,11,755.511551
21,Gurgaon,"North Indian, Mughlai",550,0,3.5,31,755.511551
22,Gurgaon,"North Indian, Mughlai",400,0,0.0,1,755.511551
23,Gurgaon,"North Indian, Mughlai",3000,1,3.7,340,755.511551
24,Gurgaon,"North Indian, Mughlai",700,0,2.8,16,755.511551
25,Gurgaon,"North Indian, Mughlai",900,1,3.0,61,755.511551
26,Gurgaon,"North Indian, Mughlai",350,0,0.0,2,755.511551
27,Gurgaon,"North Indian, Mughlai",500,0,0.0,3,755.511551
28,Gurgaon,"North Indian, Mughlai",800,0,3.4,1022,755.511551
29,Gurgaon,"North Indian, Mughlai",1400,1,3.3,586,755.511551
...,...,...,...,...,...,...,...
7641,Noida,"American, Italian, North Indian, Chinese",500,0,0.0,3,500.000000
7642,Noida,"North Indian, Mughlai, Mughlai",600,0,0.0,2,600.000000
7643,Noida,"Salad, Continental",500,0,4.1,43,500.000000
7644,Noida,"Continental, Chinese",500,0,3.0,4,500.000000
7645,Noida,"North Indian, Healthy Food, Rajasthani",400,0,3.1,10,400.000000
7646,Noida,"Fast Food, Cafe, Italian, North Indian, Chinese",550,0,3.2,48,550.000000
7647,Noida,"Healthy Food, North Indian, Chinese, Continental",600,0,3.7,142,600.000000
7648,Noida,"Awadhi, North Indian",300,0,0.0,2,300.000000
7649,Noida,"Tibetan, Street Food",100,0,0.0,1,100.000000
7650,Noida,"Mexican, Italian",500,0,0.0,0,500.000000
7651,Noida,"Cafe, Mexican",550,0,0.0,2,550.000000
7652,Noida,"North Indian, Mughlai, Chinese, Raw Meats",600,0,2.9,25,600.000000
7653,Noida,"Continental, Fast Food, Asian, Italian",500,0,3.8,200,500.000000
7654,Noida,"North Indian, South Indian, Chinese, Street Fo...",500,0,2.4,77,500.000000
7655,Noida,"North Indian, Chinese, Italian, Thai",500,0,0.0,0,500.000000
7656,Noida,"Mithai, North Indian, Chinese",400,0,2.9,4,400.000000
7657,Noida,"Fast Food, Italian, Desserts, Beverages",350,0,3.3,12,350.000000
7658,Noida,"Kashmiri, Chinese",500,0,3.1,6,500.000000
7659,Noida,"Bakery, North Indian",250,0,0.0,0,250.000000
7660,Noida,"Italian, Continental, American",500,0,0.0,0,500.000000
7661,Noida,"Lucknowi, Mughlai, North Indian",500,0,0.0,0,500.000000
7662,Noida,"North Indian, Chinese, Kashmiri",600,0,0.0,3,600.000000
7663,Noida,"Mithai, Beverages",200,0,3.4,23,200.000000
7664,Noida,"North Indian, Chinese, Mediterranean, Asian, C...",1300,0,3.9,1088,1300.000000
7665,Noida,"North Indian, South Indian, Bakery, Beverages",500,0,0.0,2,500.000000
7666,Noida,"European, North Indian, Chinese",2500,1,2.2,116,2500.000000
7667,Noida,"Juices, Beverages, Fast Food",200,0,3.0,10,200.000000
7668,Noida,"Bakery, Desserts, Fast Food, North Indian",450,0,3.5,105,450.000000
7669,Noida,"Continental, Lebanese, Mexican",1000,1,0.0,0,1000.000000
7670,Noida,"Chinese, North Indian, South Indian, Fast Food",450,0,2.0,161,450.000000

In [41]:
new_data=data.merge(cuisine,on='Cuisines')

In [42]:
new_data.drop(columns=['Cuisines'],inplace=True)

In [43]:
new_data.head(2)

,City,Average Cost for two_x,Has Table booking,Aggregate rating,Votes,Average Cost for two_y
0,Gurgaon,350,0,3.4,16,416.666667
1,New Delhi,200,0,0.0,0,416.666667

In [44]:
new_data.rename(columns={'Average Cost for two_x':'cost','Average Cost for two_y':'cuisine'},inplace=True)

In [45]:
new_data.head(2)

        City  cost  Has Table booking  Aggregate rating  Votes     cuisine
0    Gurgaon   350                  0               3.4     16  416.666667
1  New Delhi   200                  0               0.0      0  416.666667

In [46]:
new_data=new_data[['City','Has Table booking','Aggregate rating','Votes','cuisine','cost']]

In [47]:
new_data.head(2)

        City  Has Table booking  Aggregate rating  Votes     cuisine  cost
0    Gurgaon                  0               3.4     16  416.666667   350
1  New Delhi                  0               0.0      0  416.666667   200

In [48]:
X=new_data.iloc[:,:-1].values
y=new_data.iloc[:, -1].values

In [49]:
X

array([['Gurgaon', 0, 3.4, 16, 416.6666666666667],
       ['New Delhi', 0, 0.0, 0, 416.6666666666667],
       ['New Delhi', 0, 4.1, 92, 416.6666666666667],
       ...,
       ['Noida', 0, 3.5, 105, 450.0],
       ['Noida', 1, 0.0, 0, 1000.0],
       ['Noida', 0, 2.0, 161, 450.0]], dtype=object)

In [50]:
y

array([ 350,  200,  700, ...,  450, 1000,  450], dtype=int64)

In [51]:
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [52]:
X[:,0]=encoder.fit_transform(X[:,0])
X

array([[0, 0, 3.4, 16, 416.6666666666667],
       [1, 0, 0.0, 0, 416.6666666666667],
       [1, 0, 4.1, 92, 416.6666666666667],
       ...,
       [2, 0, 3.5, 105, 450.0],
       [2, 1, 0.0, 0, 1000.0],
       [2, 0, 2.0, 161, 450.0]], dtype=object)

In [53]:
from sklearn.preprocessing import OneHotEncoder
oencoder=OneHotEncoder(categorical_features=[0])
X=oencoder.fit_transform(X).toarray()
X.shape

(7671, 7)

In [54]:
X=X[:,1:]
X.shape

(7671, 6)

In [55]:
from sklearn.cross_validation import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=9)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [56]:
X_train.shape

(6136, 6)

# Using Linear Regression

In [57]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()

In [58]:
regressor.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [59]:
y_pred=regressor.predict(X_test)

In [60]:
print('Test Score:',regressor.score(X_train,y_train))

Test Score: 0.7152821016045735

In [61]:
print('Train Score:',regressor.score(X_test,y_test))

Train Score: 0.7189272138600126

In [62]:
from sklearn.metrics import r2_score

In [63]:
r2_score(y_test,y_pred)

0.7189272138600126

# Using Random Forest Regressor

In [115]:
from sklearn.ensemble import RandomForestRegressor
regressor1=RandomForestRegressor(n_estimators=200)

In [116]:
regressor1.fit(X_train,y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=1,
           oob_score=False, random_state=None, verbose=0, warm_start=False)

In [117]:
y_pred1=regressor1.predict(X_test)

In [67]:
r2_score(y_test,y_pred1)

0.6697312136120144

# Using Decision Tree Regressor

In [118]:
from sklearn.tree import DecisionTreeRegressor
regressor2=DecisionTreeRegressor()

In [119]:
regressor2.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [120]:
y_pred2=regressor2.predict(X_test)

In [71]:
r2_score(y_test,y_pred2)

0.47910052997593533